@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main Theme */
:root {
    --light-body: #fff;
    --light-text: #202020;
    --light-body-rgba: 255, 255, 255;
    --light-text-rgba: 32, 32, 32;
    --light-grey: #bebebe;
    --font-xs: 0.75em;
    --font-sm: 0.875em;
    --font-md: 1em;
    --font-lg: 1.25em;
    --font-xl: 2em;
    --font-xxl: 3em;
    --font-xxxl: 5em;
    --font-big: 10em;
    --nav-height: 5rem;
}

/* Dark Theme */
[data-theme="dark"] {
    --dark-body: #202020;
    --dark-text: #fff;
    --dark-body-rgba: 32, 32, 32;
    --dark-text-rgba: 255, 255, 255;
}